<section class="shadow-lg mt-5 pb-3 text-dark fs-5">
   <%=simple_form_for [@card, @item] do |f| %>
    <div class="card-body form-input mb-3 ">
      <%= f.error_notification %>
      <%= f.input :title, required: true %>
      <%= f.input :price, required: true %>
     </div>
    <div class="row mb-3">
      <div class="col-sm-9 offset-sm-3">
        <%= f.button :submit, class: "btn-primary" %>
        <%= link_to "Back", root_path, class: "btn btn-secondary" %>
    </div>
    <%end%>
</section>